[bumpversion]
current_version = 1.0.1
commit = True
tag = True

[bumpversion:file:microsoft_agent/_version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:README.md]
search = Current package version: **{current_version}**
replace = Current package version: **{new_version}**
